@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Merienda:wght@300..900&display=swap');
body {

    background-color: thistle;
    background: -moz-repeating-linear-gradient();
    font-family: "Merienda", cursive;
    font-size: 400;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#app {
    background-color: #f2b5d4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form{
    display: flex;
    justify-content: space-between;
}

input {
    width: 75%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #f2b5d4;
    border-radius: 3px;
}

button {
    padding: 5px 8px;
    background-color: #f72585;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f2b5d4;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li.completed {
    text-decoration: line-through;
    color: #888;
    
}
